/* REGOLE GENERALI */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

a {
  text-decoration: none;
}

.clearfix {
  content: '';
  display: table;
  clear: both;
  width: 100%;
}

.container {
  width: 60%;
  margin: auto;
}

.ora-but {
  color: white;
  background-color: #ff7a59;
  border-radius: 5px;
  padding: 10px;
}

/* REGOLE NAV */

.nav-top {
  background-color: #f4f9fd;
  padding: 15px 0;
  border-bottom: 1px solid black;
}

#login {
  color: #ff7a59;
  background-color: white;
  border: 2px solid #ff7a59;
  border-radius: 5px;
  padding: 8px;
  margin: 0 7px;
}

.nav-top-left , .nav-bottom-left {
  float: left;
}

.nav-top-right , .nav-bottom-right{
  float: right;
}

.nav-bottom-right>a {
  display: inline-block;
  padding: 15px;
}

.nav-bottom-left {
  padding-top: 10px;
}

/* REGOLE HEADER */

header {
  background-color: #fff4ef;
  width: 100%;
  position: relative;
  height: 500px;
}

#jumbo {
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  background-position: right;
  background-position: bottom;
  background-repeat: no-repeat;
  margin-left: 20%;
  height: 100%;
}

#jumbo-bottom {
  width: 100%;
  height: calc(100% / 6);
  background-color: #afebe4;
  border: 1px solid black;
  position: absolute;
  bottom: 0;
}

.container-header {
  width: 30vw;
  min-width: 350px;
  background-color: #fff4ef;
  border-bottom-right-radius: 30px;
  padding: 0 30px 30px 0;
}

.container-header>h1 {
  font-size: 30px;
  padding-top: 30px;
}

.container-header>p {
  padding: 15px 0;
  font-size: 12px;
}

.container-header>.ora-but {
  display: inline-block;
}

/* REGOLE SEZIONE UNO */

.section1 {
  background-color: lightgrey;
  padding: 30px 0;
}

.section1-1 , .section1-2 {
  height: 100px;
  border: 1px solid black;
}

.section1-2 {
  margin: 30px 0;
}

.white-box {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}

.section1-3>.white-box {
  float: left;
  width: calc((100% - 60px) / 3) ;
  height: 300px;
}

.section1-3>.white-box:nth-child(2) {
  margin: 0 30px;
}

/* REGOLE SEZIONE DUE */

.section2 {
  background-color: lightblue;
  padding: 30px 0;
}

.section2-top {
  height: 100px;
  border: 1px solid black;
}

.section2-top {
  margin-bottom: 30px;
}

.row1 , .row2 {
  width: 100%;
}

.row-block {
  float: left;
  width: calc(100% / 4);
  height: 100px;
}

.row-block:nth-child(2) {
  border-left: 1px solid black;
}

.row-block:nth-child(3) {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.row1 {
  border-bottom: 1px solid black;
}

/* REGOLE SEZIONE TRE */

.section3 {
  padding: 30px 0;
}

.section3-top {
  margin-bottom: 30px;
}

.section3-top-left , .section3-top-right {
  float: left;
  height: 100px;
  border: 1px solid black;
}

.section3-top-left {
  width: 40%;
}

.section3-top-right {
  width: 60%;
}

.section3-bottom-left , .section3-bottom-right {
  height: 200px;
  border: 1px solid black;
}

.section3-bottom-left {
  float: left;
  width: 50%;
}

.section3-bottom-right {
  float: right;
  width: 30%;
}

/* REGOLE FOOTER */

footer {
  background-color: darkgrey;
  padding-top: 30px;
}

.footer-top>div {
  float: left;
  width: calc((100% - 90px) / 4);
  height: 150px;
  border: 1px solid black;
  margin-right:30px;
}

.footer-top>div:last-child {
  margin-right: 0px;
}

.languages {
  text-align: center;
  padding-bottom: 2px;
  border-bottom: 1px solid black;
  margin-top: 60px;
}

.languages>div {
  display: inline-block;
  height: 30px;
  width: 50px;
  border: 1px solid black
}

.footer-bottom{
  position: relative;
  padding: 20px 0;
}

.footer-bottom>div {
  height: 50px;
  width: 100px;
  border: 1px solid black;
}

.footer-bottom>div:last-child {
  position: absolute;
  right: 0;
  top: 20px;
}
