/* REGOLE GENERALI */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

a {
  text-decoration: none;
  font-size: 14px;
  color: inherit;
}

.clearfix {
  width: 100%;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.container {
  width: 70%;
  margin: auto;
  min-width: 700px;
  padding: 0 5%;
}

.ora-but {
  color: white;
  background-color: #ff7a59;
  border-radius: 5px;
  font-weight: 800;
  font-size: 14px;
  display: inline-block;
  padding: 20px 40px;
}

nav .ora-but {
  padding: 10px;
}

.white-box {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.fa-check-circle{
  color: #ff7a59;
  margin-right: 10px;
}

.white-box img {
  display: block;
  height: 100px;
  margin: 5px auto 15px auto;
}

a:hover {
  color: #00a4bc;
  text-decoration: underline;
  font-weight: bold;
}

.ora-but:hover {
  text-decoration: inherit;
  font-weight: inherit;
  color: white;
  background-color: rgba(255, 122, 89, 0.5);
}

ul {
  list-style-type: none;
  line-height: inherit;
}

li {
  text-decoration: none;
  font-size: 14px;
  font-weight: inherit;
  color: inherit;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
  margin-bottom: 15px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 18px;
  font-weight: 700;
}

p , h5 {
  font-size: 14px;
}

/* REGOLE NAV */

nav {
  width: 100%;
}

.nav-bottom {
  position: sticky;
  top: 0;
  z-index: 800;

}

.nav-top , .nav-bottom {
  height: 70px;
  z-index: 500;
}

.nav-top-left , .nav-bottom-left {
  float: left;
  height: 100%;
}

.nav-top-right , .nav-bottom-right{
  float: right;
}

.nav-top {
  background-color: #f4f9fd;
  padding: 15px 0;
  border-bottom: 1px solid black;
}

.nav-menu {
  display: inline-block;
  font-size: 14px;
}

.sottonav-menu {
  display: none;
  position: absolute;
  z-index: 900;
  padding: 15px;
  background-color: white;
  border-radius: 0px 0px 10px 10px;
}

.nav-menu:hover {
  cursor: pointer;
}

.nav-menu:hover .sottonav-menu {
  display: block;
}

.sottonav-menu li {
  line-height: 1.8;
}

.nav-top .nav-menu {
  display: inline-block;
  padding-top: calc((45.5px - 19px) / 2);
  font-size: 14px;
  padding-left: 0;
}

.nav-top .sottonav-menu {
  background-color: #f4f9fd;
}

.nav-top span {
  margin: 0 15px;
  font-weight: bold;
}

#search {
  color: #00a4bc;
}

#search>input {
  display: none;
}

#search:hover input {
  display: inline-block;
}

#search:hover i {
  display: none;
}


#login {
  color: #ff7a59;
  background-color: white;
  border: 2px solid #ff7a59;
  border-radius: 5px;
  padding: 8px;
  margin: 0 7px;
  display: inline-block;
}

#login:hover {
  text-decoration: inherit;
  font-weight: inherit;
  background-color: rgba(255, 122, 89, 0.5);
  color: white;
}

.nav-top-right>div {
  display: inline-block;
}

.nav-top-right>.ora-but {
  font-size: 14px;
  font-weight: normal;
}

.nav-top-left {
  padding: 8px 0;
}

.nav-bottom {
  background-color: white;
}

.nav-bottom-right>* {
  display: inline-block;
  height: 15px;
  margin: 27.5px 10px;
}

.nav-bottom-left>a {
  display: inline-block;
}

.nav-bottom-left>a {
  padding: 17.5px 0;
}

.nav-bottom-left>img {
  height: 100%;
}

/* REGOLE HEADER */

header {
  background-color: #fff4ef;
  width: 100%;
  position: relative;
  height: 600px;
}

#jumbo {
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  background-position: right;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 80%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

#jumbo-bottom {
  width: 100%;
  height: 90px;
  background-color: #afebe4;
  border-color: black;
  border-width: 2px 0;
  border-style: solid;
  position: absolute;
  bottom: 0;
}

.header-text {
  width: 30%;
  min-width: 350px;
  background-color: #fff4ef;
  border-bottom-right-radius: 30px;
  padding: 30px 30px 30px 0;
  position: absolute;
}

.header-text>p {
  padding: 30px 0;
}

/* REGOLE SEZIONE UNO */

.section1 {
  background-color: #f4f9fd;
  padding: 60px 0;
}

.section1-1 {
  text-align: center;
  padding: 0 5%;
}

.section1-1>img {
  display: block;
  width: 35%;
  margin: auto;
}

.section1-2 {
  margin: 60px 0 30px 0;
}

.section1-2-left {
  width: calc((100% - 60px) / 3) ;
  padding: 60px 3%;
  text-align: center;
  float: left;
}

.section1-2-right {
  float: left;
  width: calc((100% - 60px) / 3 * 2) ;
  margin: 60px 60px 60px 0;
}

.section1-2-right li{
  display: inline-block;
  margin-right: 20px;

}

.section1-2-right>ul {
  margin-top: 15px;
}

.section1-2-right>p {
  margin: 15px 0;
}

.section1-2-right>h4 {
  display: inline-block;
  width: 200px;
}

.section1-2-right hr {
  display: inline-block;
  margin-bottom: 0.3em;
  width: calc(100% - 200px)
}

.section1-3>.white-box {
  float: left;
  width: calc((100% - 60px) / 3) ;
  padding: 3%;
  text-align: center;
}

.section1-3>.white-box:nth-child(2) {
  margin: 0 30px;
}

.section1-3 p {
  margin-top: 15px;
  min-height: 160px;
}

.section1-3 h3 {
  height: 50px;
}

.section1-3 h4 {
  margin: 15px 0;
}

.section1-3 ul {
  text-align: left;
  margin-bottom: 25px;
  line-height: 1;
  min-height: 60px;
}

/* REGOLE SEZIONE DUE */

.section2 {
  background-image: linear-gradient(to top right, #00a4bc, #00bba5);
  color: white;
  padding: 60px 0 60px 0;
}

.section2-top {
  text-align: center;
}

.section2-top {
  margin-bottom: 60px;
}

.row1 , .row2 {
  width: 100%;
}

.row-block {
  float: left;
  width: calc(100% / 4);
  text-align: center;
  padding: 30px;
}

.row-block:nth-child(2) {
  border-left: 1px solid white;
}

.row-block:nth-child(3) {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.row1 {
  border-bottom: 1px solid white;
}

.row-block img {
  height: 30px;
}

.row-block>div:nth-child(2) {
  font-size: 35px;
  font-weight: bold;
}

.row-block>div:last-child {
  font-size: 12px;
}

/* REGOLE SEZIONE TRE */

.section3 {
  padding: 50px 0;
}

.section3-top {
  margin-bottom: 50px;
  padding: 0 7%;
}

.section3-top-left , .section3-top-right {
  float: left;
}

.section3-top-left {
  width: 40%;
  padding-right: 15%;
}

.section3-top-left>p {
  margin-top: 30px;
}

.section3-top-right {
  width: 60%;
}

.sponsor {
  float: left;
  width: 25%;
  min-width: 100px;
  height: 70px;
}

.sponsor>img {
  width: 100%;
  height: auto;
  padding: 10px;
}

.section3-bottom-left {
  float: left;
  width: 50%;
  padding-top: 60px;
}

.section3-bottom-left>p , .section3-bottom-left>.ora-but{
  margin: 15px 0;
}

.section3-bottom-right {
  float: right;
  width: 30%;
}

.section3-bottom-right>img {
  width: 100%
}

.section3-bottom-left>div {
  font-size: 12px;
  margin-top: 15px;
}

/* fix sponsor */

.sponsor:nth-child(1) img {
  padding-top: 30px;
}
.sponsor:nth-child(2) img {
  padding-top: 30px;
}
.sponsor:nth-child(3) img {
  padding-top: 20px;
}
.sponsor:nth-child(5) img {
  padding-top: 15px;
}
.sponsor:nth-child(6) img {
  padding-top: 25px;
}
.sponsor:nth-child(8) img {
  padding-top: 20px;
}


/* REGOLE FOOTER */

footer {
  background-color: #32495b;
  padding-top: 35px;
  color: #c3ceda;
}

footer h5 {
  color: white;
  padding-bottom: 20px;
}

footer a {
  line-height: 30px;
}

.footer-top>div {
  float: left;
  width: calc((100% - 90px) / 4);
  margin-right:30px;
}

.footer-top>div:last-child {
  margin-right: 0px;
}

.whi-but {
  color: #32495b;
  background-color: #c3ceda;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
  margin: 15px 0;
  font-weight: 800;
}

.whi-but:hover {
  color: #c3ceda;
  background-color: #00a4bc;
  text-decoration: inherit;
}

#social>a {
  font-size: 17px;
  margin-right: 15px;
}

.languages {
  text-align: center;
  padding-bottom: 2px;
  border-bottom: 1px solid #c3ceda;
  margin-top: 60px;
}

.languages>a {
  display: inline-block;
  margin: 0 10px 5px 0;
}

.footer-bottom{
  position: relative;
  padding: 20px 0;
}

#copyright {
  font-size: 10px;
}

.footer-bottom>div:last-child {
  position: absolute;
  right: 0;
  top: 20px;
}

#legal-privacy>a{
  display: inline-block;
}

#legal-privacy>a:first-child {
  padding-right: 20px;
}

/* REGOLE CHAT */

.chat {
  position: fixed;
  right: 20px;
  bottom: 90px;
  width: 20%;
  min-width: 250px;
  height: 500px;
  margin-right: 15px;
  padding-bottom: 100px;
  background-color: white;
  border-radius: 15px;
  font-size: 14px;
  border: 1px solid #c3ceda;
  display: none;
}

.chat-top {
  background-color: #425B76;
  height: 100px;
  border-radius: 15px 15px 0 0;
  font-size: 30px;
  padding-left: 30px;
  padding-top: 35px;
}

.chat-top>i {
  color: #ff7a59;
}

.chat-main {
  width: 100%;
  height: 300px;
  overflow: scroll;
  padding: 30px;
}

.chat-bottom {
  padding: 10px;
  color: #32495b;
}

.chat-bottom i {
  font-size: 18px;
  padding: 0 3px;
}

#chat-area {
  border: 1px solid #c3ceda;
  padding: 2px;
  width: calc(100% - 70px);
}

.chat-bottom>hr {
  margin: 10px 0;
  color: #32495b;
}

.add-chat {
  text-align: center;
  font-size: 12px;
}

.add-chat>i , .add-chat>a {
  color: #ff7a59;
  font-size: 12px;
}

#prova {
  width: 60px%;
  height: 60px;
  margin-bottom: 15px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#chat-icon {
  width: 60px;
  height: 60px;
  background-color: #425B76;
  color: #c3ceda;
  border-radius: 50%;
  border: 1px solid #c3ceda;
  text-align: center;
  font-size: 30px;
  padding-top: 10px;
  margin-top: 15px;

  right: 0;
  box-shadow: 0 0 15px #c3ceda;
}

.chat-macro:hover .chat {
  display: block;
}
