/* REGOLE GENERALI */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: inherit;
}

.clearfix {
  content: '';
  display: table;
  clear: both;
  width: 100%;
}

.container {
  width: 60%;
  margin: auto;
  min-width: 800px;
}

.ora-but {
  color: white;
  background-color: #ff7a59;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
}

.white-box {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.fa-check-circle{
  color: #ff7a59;
  margin-right: 10px;
}

.white-box img {
  display: block;
  width: 50%;
  height: 80px;
  margin: 5px auto 15px auto;
}

ul {
  list-style-type: none;
  line-height: inherit;
}

li {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: inherit;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
  margin-bottom: 15px;
}

h3 {
  font-size: 25px;
}

h4 {
  font-size: 18px;
  font-weight: 700;
}

p , h5 {
  font-size: 14px;
  font-weight: 600;
}

/* REGOLE NAV */

.nav-top {
  background-color: #f4f9fd;
  padding: 15px 0;
  border-bottom: 1px solid black;
}

#login {
  color: #ff7a59;
  background-color: white;
  border: 2px solid #ff7a59;
  border-radius: 5px;
  padding: 8px;
  margin: 0 7px;
}

.nav-top-left , .nav-bottom-left {
  float: left;
}

.nav-top-right , .nav-bottom-right{
  float: right;
}

.nav-bottom-right>a {
  display: inline-block;
  padding: 15px;
}

.nav-bottom-left {
  padding-top: 10px;
}

/* REGOLE HEADER */

header {
  background-color: #fff4ef;
  width: 100%;
  position: relative;
  height: 500px;
}

#jumbo {
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  background-position: right;
  background-position: bottom;
  background-repeat: no-repeat;
  margin-left: 20%;
  height: 100%;
}

#jumbo-bottom {
  width: 100%;
  height: calc(100% / 6);
  background-color: #afebe4;
  border: 1px solid black;
  position: absolute;
  bottom: 0;
}

.container-header {
  width: 30vw;
  min-width: 350px;
  background-color: #fff4ef;
  border-bottom-right-radius: 30px;
  padding: 30px 30px 30px 0;
}

.container-header>p {
  padding: 15px 0;
}

/* REGOLE SEZIONE UNO */

.section1 {
  background-color: #f4f9fd;
  padding: 30px 0;
}

.section1-1 {
  text-align: center;
  padding: 0 10%;
}

.section1-1>img {
  display: block;
  width: 30%;
  margin: auto;
}

.section1-2 {
  margin: 30px 0;
}

.section1-2-left {
  width: calc((100% - 60px) / 3) ;
  padding: 3%;
  text-align: center;
  float: left;
}

.section1-2-right {
  float: left;
  width: calc((100% - 60px) / 3 * 2) ;
  margin: 30px 60px 30px 0;
}

.section1-2-right li{
  display: inline-block;
  margin-right: 20px;

}

.section1-2-right>ul {
  margin-top: 15px;
}

.section1-2-right>p {
  margin: 15px 0;
}

.section1-2-right>h4 {
  display: inline-block;
  width: 200px;
}

.section1-2-right hr {
  display: inline-block;
  margin-bottom: 0.3em;
  width: calc(100% - 200px)
}

.section1-3>.white-box {
  float: left;
  width: calc((100% - 60px) / 3) ;
  padding: 3%;
  text-align: center;
}

.section1-3>.white-box:nth-child(2) {
  margin: 0 30px;
}

.section1-3 p {
  margin-top: 15px;
  height: 130px;
  overflow : hidden;
}

.section1-3 h4 {
  margin: 15px 0;
}

.section1-3 ul {
  text-align: left;
  margin-bottom: 25px;
  line-height: 1;
}


/* REGOLE SEZIONE DUE */

.section2 {
  background-image: linear-gradient(to top right, #00a4bc, #00bba5);
  color: white;
  padding: 30px 0 60px 0;
}

.section2-top {
  text-align: center;
}

.section2-top {
  margin-bottom: 30px;
}

.row1 , .row2 {
  width: 100%;
}

.row-block {
  float: left;
  width: calc(100% / 4);
  text-align: center;
  padding: 10px
}

.row-block:nth-child(2) {
  border-left: 1px solid white;
}

.row-block:nth-child(3) {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.row1 {
  border-bottom: 1px solid white;
}

.row-block i {
  font-size: 20px;
}

.row-block>div:nth-child(2) {
  font-size: 35px;
  font-weight: bold;
}

.row-block>div:last-child {
  font-size: 12px;
}

/* REGOLE SEZIONE TRE */

.section3 {
  padding: 50px 0;
}

.section3-top {
  margin-bottom: 50px;
  padding: 0 7%;
}

.section3-top-left , .section3-top-right {
  float: left;
}

.section3-top-left {
  width: 40%;
  padding-right: 15%;
}

.section3-top-left>p {
  margin-top: 30px;
}

.section3-top-right {
  width: 60%;
}

.sponsor {
  float: left;
  width: 25%;
  min-width: 100px;
  height: 70px;
}

.sponsor>img {
  width: 100%;
  padding: 10px;
}

.section3-bottom-left {
  float: left;
  width: 50%;
}

.section3-bottom-left>p , .section3-bottom-left>.ora-but{
  margin: 15px 0;
}

.section3-bottom-right {
  float: right;
  width: 30%;
}

.section3-bottom-right>img {
  width: 100%
}

.section3-bottom-left>div {
  font-size: 12px;
  margin-top: 15px;
}

/* REGOLE FOOTER */

footer {
  background-color: #32495b;
  padding-top: 35px;
  color: #c3ceda;
}

footer h5 {
  color: white;
  padding-bottom: 20px;
}

footer a {
  line-height: 30px;
}

.footer-top>div {
  float: left;
  width: calc((100% - 90px) / 4);
  margin-right:30px;
}

.footer-top>div:last-child {
  margin-right: 0px;
}

.whi-but {
  color: #32495b;
  background-color: #c3ceda;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
  margin: 15px 0;
}

#social>a {
  font-size: 17px;
  margin-right: 15px;
}

.languages {
  text-align: center;
  padding-bottom: 2px;
  border-bottom: 1px solid #c3ceda;
  margin-top: 60px;
}

.languages>a {
  display: inline-block;
  margin: 0 10px 5px 0;
}

.footer-bottom{
  position: relative;
  padding: 20px 0;
}

#copyright {
  font-size: 10px;
}

.footer-bottom>div:last-child {
  position: absolute;
  right: 0;
  top: 20px;
}

#legal-privacy>a{
  display: inline-block;
}

#legal-privacy>a:first-child {
  padding-right: 20px;
}
