/* REGOLE GENERALI */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 70%;
  margin: auto;
  border: 1px solid black;
}

.clearfix {
  content: '';
  display: table;
  clear: both;
}

/* REGOLE NAV */

nav .container {
  height: 50px;
}

.nav-top {
  background-color: lightpink;
}

/* REGOLE HEADER */

header {
  background-color: blue;
  position: relative;
}

header>.container {
  height: 300px;
}

#green {
  width: 100%;
  height: 30px;
  background-color: lightgreen;
  border: 1px solid black;
  position: absolute;
  bottom: 0;
}

/* REGOLE SEZIONE UNO */

.section1 {
  background-color: lightgrey;
}

.section1-1 , .section1-2 {
  height: 100px;
  border: 1px solid black;
}

.section1-1 , .section1-2 , .section1-3 {
  margin: 30px 0;
}

.section1-3 {
  width: 100%;
}

.white-box {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}

.section1-3>.white-box {
  float: left;
  width: calc((100% - 60px) / 3) ;
  height: 300px;
}

.section1-3>.white-box:nth-child(2) {
  margin: 0 30px;
}

/* REGOLE SEZIONE DUE */

.section2 {
  background-color: lightblue;
}

.section2-top {
  height: 100px;
  border: 1px solid black;
}

.section2-top , .section2-bottom {
  margin: 30px 0;
}

.row1 , .row2 {
  width: 100%;
}

.row-block {
  float: left;
  width: calc(100% / 4);
  height: 100px;
}

.row-block:nth-child(2) {
  border-left: 1px solid black;
}

.row-block:nth-child(3) {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.row1 {
  border-bottom: 1px solid black;
}

/* REGOLE SEZIONE TRE */

.section3-top , .section3-bottom {
  width: 100%;
  margin: 30px 0;
}

.section3-top-left , .section3-top-right {
  float: left;
  height: 100px;
  border: 1px solid black;
}

.section3-top-left {
  width: 40%;
}

.section3-top-right {
  width: 60%;
}

.section3-bottom-left , .section3-bottom-right {
  height: 200px;
  border: 1px solid black;
}

.section3-bottom-left {
  float: left;
  width: 50%;
}

.section3-bottom-right {
  float: right;
  width: 30%;
}

/* REGOLE SEZIONE QUATTRO */

.section4 {
  background-color: darkgrey;
}

.section4>.container>div {
  float: left;
  width: calc((100% - 120px) / 4);
  height: 150px;
  border: 1px solid black;
  margin: 30px 30px 30px 0px;
}

/* REGOLE FOOTER */

.footer-top {
  text-align: center;
  padding-bottom: 2px;
  border-bottom: 2px solid black;
}

.footer-top>div {
  display: inline-block;
  height: 30px;
  width: 50px;
  border: 1px solid black
}

.footer-bottom>div {
  height: 50px;
  width: 100px;
  border: 1px solid black;
}

.footer-bottom>div:first-child {
  float: left;
}

.footer-bottom>div:last-child {
  float: right;
}
